.container {
    border-bottom: 1px solid gray;
    padding: 3rem 0;
}

.headline {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;
}

.question {
    font-family: 'Lexend Exa';
    margin: 0;
    font-size: 1.6rem;
    line-height: 2em;
    font-weight: 400;
}

.topic {
    color: rgb(71, 71, 71);
    font-size: 1.3rem;
    background-color: rgb(243, 243, 243);
    padding: .5rem 1rem;
    border-radius: .3rem;
}

.answer {
    padding: 1rem 2rem;
    margin: 0;
    font-family: 'Inter';
    font-size: 1.4rem;
    line-height: 2em;
}

@media (max-width: 40rem) {
    .headline {
        display: block;
    }

    .topic {

    }
}